.MainPage {
  align-items: center;
  /* background-color: white; */
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Chat_Input_Container {
  justify-content: center;
  margin-top: 20px;
  border: 1px solid black;
}
.user-input {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-radius: 4px;
  max-width: 600px;
  margin-bottom: 10px;
  /* border: 1px solid black; */
  padding-left: 10px;
}

.send-button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #3d92e6;
  max-width: 600px;
  display: block;
  margin: 5px auto;

  /* border: 1px solid black; */
}

/* .user-input {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.send-button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #3d92e6;
  max-width: 600px;

  display: block;
  margin: 0 auto;
} */

.send-button:hover {
  background-color: #3592d1;
}

.send-button:active {
  background-color: #3084bd;
}
